###### My First Project
# Weekly Payroll Data Analysis

In [5]:
# importing pandas as pd (DataFrame) read CSV(see snap) head()(number of rows)
import pandas as pd
# importing numpy as np (arithmetic operators + - * /) W3School
import numpy as np
# import matplotlib pyplot as plt (use magic function % 0r %%)
import matplotlib.pyplot as plt
import math
import statistics as st

In [2]:
weekly_payroll = {
    "1.": {"employee": "Linus Breeze", "Rate": "27.50", "Hours": "40.25", "Dependents": "4"},
    "2.": {"employee": "Juan Santiago", "Rate": "18.75", "Hours": "56.00", "Dependents": "1"},
    "3.": {"employee": "James Webb", "Rate": "28.35", "Hours": "38.00", "Dependents": "3"},
    "4.": {"employee": "Kylie Sabol", "Rate": "21.50", "Hours": "46.50", "Dependents": "6"},
    "5.": {"employee": "Amber Ali", "Rate": "19.35", "Hours": "17.00", "Dependents": "2"},
    "6.": {"employee": "Kevin Goldstein", "Rate": "17.05", "Hours": "28.00", "Dependents": "5"}
}

# Add New Employee
weekly_payroll["7."] = {"employee": "Lee Chang",
                        "Rate": "17.05", "Hours": "28.00", "Dependents": "5"}
weekly_payroll["8."] = {"employee": "Albert Fritz",
                        "Rate": "28.35", "Hours": "38.75", "Dependents": "3"}

# Remove Employee
weekly_payroll.pop("6.")

# Using get: get a value that might not be there
definition = weekly_payroll.get("6.")
if definition:
    print(definition)
else:
    print("Key doesn't exist")

# KEYWORD, FUNCTION NAME, 0 TO MANY PARAMETER(S)


def extract_info(wp):  # wp = weekly payroll nested dictionary
    """ Extract info from nested dictionary

    Arg: 
        Weekly payroll as nested dictionary

    Returns:
        This function retuns list of Employee, Rate, Hours, Dependents
    """

# Empty list for key
    employee = []
    rate = []
    hours = []
    dependents = []

# For loop nested dictionary
    for i in wp:
        employee.append(wp[i]["employee"])

    for i in wp:
        rate.append(float(wp[i]["Rate"]))

    for i in wp:
        hours.append(float(wp[i]["Hours"]))

    for i in wp:
        dependents.append(float(wp[i]["Dependents"]))
    return employee, rate, hours, dependents


# Total (Gross Pay)
def total_gross_pay(rate, hours):
    tgp = 0  # initial Total Gross pay
    for i in range(len(rate)):
        tgp = tgp + (rate[i] * hours[i])
    tgp = round(tgp, 2)
    return tgp


# (Individual Gross Pay with overtime) (new)
def ind_gross_pay(rate, hours):
    igp = []
    for i in range(len(rate)):
        if hours[i] <= 40:
            igp.append(round(rate[i] * hours[i], 2))
        else:
            igp.append(round((rate[i] * hours[i]) +
                       (.5 * rate[i] * (hours[i] - 40)), 2))

    return igp


# Calculate State Tax = .06  NEED TO CHANGE
def state_tax(igp):
    s_tax = []
    for items in igp:
        s_tax.append(round(items * .032, 2))
    return s_tax


# Federal Tax: flat_rate = [.22]
# Withholding_allowance_per_dependent = [38.46] NEED TO CHANGE
def federal_tax(igp, dep):
    federal_tax = []
    for i in range(len(igp)):
        federal_tax.append(round(.20*(igp[i]-(dep[i]*38.46)), 2))
    return federal_tax


# Net Pay before SS and Medicare
def net_pay(igp, federal_tax, state_tax):
    net_pay = []
    for i in range(len(igp)):
        net_pay.append(round(igp[i]-(federal_tax[i] + state_tax[i]), 2))
    return net_pay


# Final Net Pay add Social Security and Medicare deductions (NEW)
def final_net_pay(igp, federal_tax, state_tax, social_security, medicare):
    net_pay = []
    for i in range(len(igp)):
        net_pay.append(round(
            igp[i]-(social_security[i] + medicare[i] + federal_tax[i] + state_tax[i]), 2))
    return net_pay


# YTD (new)
YTD_Social_Security = [4974.00, 5540.20, 4254.00, 5553.90, 3447.60]

# Add New Employee YTD
YTD_Social_Security.append(4825.50)
YTD_Social_Security.append(5553.90)


# Tax rate .062 for social security 
Social_Security_Tax = .062
# Tax rate .0145 for medicare 
Medicare_tax = .0145


# Social Security deduction
def social_security(igp):
    global Social_Security_Tax
    social_security = []
    for i in range(len(igp)):
        social_security.append(round(igp[i] * Social_Security_Tax, 2))
    return social_security


# Maximum Soc. Sec. 
Social_Security_Limit = 5553.90


# Social Security deduction  (with maximum amount applied)
def social_security_limited(ind_gross_pay, YTD_Social_Security):
    global Social_Security_Tax
    global Social_Security_Limit
    social_security = []
    for i in range(len(ind_gross_pay)):
        if (YTD_Social_Security[i] + (Social_Security_Tax * ind_gross_pay[i])) >= Social_Security_Limit:
            social_security.append(
                round(Social_Security_Limit - YTD_Social_Security[i], 2))
        else:
            social_security.append(
                round(Social_Security_Tax * ind_gross_pay[i], 2))

    return social_security

#print( "****")

# Medicare deduction (new)
def medicare(igp):
    global Medicare_tax
    medicare = []
    for i in range(len(igp)):
        medicare.append(round(igp[i] * Medicare_tax, 2))
    return medicare


Employee, Rate, Hours, Dependents = extract_info(weekly_payroll)
Total_Gross_Pay = total_gross_pay(Rate, Hours)
Ind_Gross_Pay = ind_gross_pay(Rate, Hours)
State_Tax = state_tax(Ind_Gross_Pay)
Federal_Tax = federal_tax(Ind_Gross_Pay, Dependents)
Net_Pay = net_pay(Ind_Gross_Pay, State_Tax, Federal_Tax)
Social_Security = social_security(Ind_Gross_Pay)
Medicare = medicare(Ind_Gross_Pay)
Social_Security_Limited = social_security_limited(Ind_Gross_Pay, YTD_Social_Security)
Final_Net_Pay = final_net_pay(Ind_Gross_Pay, Federal_Tax, State_Tax, Social_Security_Limited, Medicare)
# print(Final_Net_Pay)
len(Net_Pay)
type(Dependents[2])

Dependents = [int(items) for items in Dependents]
Dependents
type(Employee[0])

# Total Hours $264.50
Total_Hours = sum(Hours)
print(sum(Hours))

# Total YTD Soc. Sec.
Total_YTD_Social_Security = sum(YTD_Social_Security)

# Total Social Security
Total_Social_Security = sum(Social_Security)

# Total Medicare
Total_Medicare = sum(Medicare)

# Total Federal tax
Total_Federal_Tax = sum(Federal_Tax)

# Total State Tax 
Total_State_Tax = sum(State_Tax)

# Total Net Pay
Total_Net_Pay = sum(Final_Net_Pay)

Key doesn't exist

str

In [7]:
# List into DataFrame
df = pd.DataFrame([Rate, Hours, YTD_Social_Security, Ind_Gross_Pay, Social_Security, Medicare, Federal_Tax, State_Tax, Final_Net_Pay],
                  index=['Rate', 'Hours', 'YTD_Social_Security', 'Ind_Gross_Pay',
                         'Social_Security', 'Medicare', 'Federal_Tax', 'State_Tax', 'Final_Net_Pay'],
                  columns=Employee)
df = df.T
df

,Rate,Hours,YTD_Social_Security,Ind_Gross_Pay,Social_Security,Medicare,Federal_Tax,State_Tax,Final_Net_Pay
Linus Breeze,27.50,40.25,4974.0,1110.31,68.84,16.10,191.29,35.53,798.55
Juan Santiago,18.75,56.00,5540.2,1200.00,74.40,17.40,232.31,38.40,898.19
James Webb,28.35,38.00,4254.0,1077.30,66.79,15.62,192.38,34.47,768.04
Kylie Sabol,21.50,46.50,5553.9,1069.62,66.32,15.51,167.77,34.23,852.11
Amber Ali,19.35,17.00,3447.6,328.95,20.39,4.77,50.41,10.53,242.85
Lee Chang,17.05,28.00,4825.5,477.40,29.60,6.92,57.02,15.28,368.58
Albert Fritz,28.35,38.75,5553.9,1098.56,68.11,15.93,196.64,35.15,850.84

In [18]:
# All info. of a single employee
df.loc["Linus Breeze"]

Rate                     27.50
Hours                    40.25
Dependents                4.00
YTD_Social_Security    4974.00
Ind_Gross_Pay          1110.31
Social_Security          68.84
Medicare                 16.10
Federal_Tax             191.29
State_Tax                35.53
Net_Pay                 883.49
Name: Linus Breeze, dtype: float64

In [19]:
# single value for row/colums par
df.at["Lee Chang", "Hours"]

28.0

In [20]:
df.loc[df["Hours"] > 40]

,Rate,Hours,Dependents,YTD_Social_Security,Ind_Gross_Pay,Social_Security,Medicare,Federal_Tax,State_Tax,Net_Pay
Linus Breeze,27.50,40.25,4.0,4974.0,1110.31,68.84,16.10,191.29,35.53,883.49
Juan Santiago,18.75,56.00,1.0,5540.2,1200.00,74.40,17.40,232.31,38.40,929.29
Kylie Sabol,21.50,46.50,6.0,5553.9,1069.62,66.32,15.51,167.77,34.23,867.62

In [ ]:
df.loc[0]["total"]

In [ ]:
payroll_csv = pd.read_csv('payroll.csv')